<div><h3> <%=shout.title || '' %> </h3></div>
<div>
  <h4> 
    @<%=shout.username || ''%> |
    <i class="icon-eye-open"></i><%= shout.views %> 
    <i class="icon-check"></i><%= shout.favorites %>
  </h4>
  <a class="btn btn-large" href="#">
    <i class="icon-check"></i>
    Favorite
  </a>
</div>
  <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.google.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=recommend&amp;colorscheme=light&amp;font=lucida+grande&amp;height=21&amp;appId=152460108176191" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
