<div class="container" style="padding-top: 10px">
  <div class="row">
    <div id="content" class="span12">
      <div class="row">
        <div class="span12">
          <div id="content-box">
            <%= render :partial => 'shouts/shout', :locals => {:shout => @shout} %> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
