<div id="content-header">
  <div class="top-bar">
    <ul class="nav nav-tabs">
      <li <%= 'class=active' unless @sort == "views" %>>
      <a href="/shouttwo?sort=recent">Recent</a>
      </li>
      <li <%= 'class=active' if @sort == "views" %>>
        <a href="/shouttwo?sort=views">
        Views 
      </li>
    </ul>
  </div>
</div>
