
<div class="hero-unit">
  <i id="hero-unit-remove-icon" class="icon-remove" style = "float:right; margin-right: -20px; margin-top:-20px;"></i>
  <h2>Welcome to Shout Two ! </h2>
  <p> &nbsp;</p>
  <img width="300px" height="200px" style="float:left;padding-top:50px;" src="assets/logo.png">
  <p style="padding-top:0px;padding-left:340px;">
    This is an app for shouting out media!  You can 
    <a href="#">Create</a>
    shouts to express yourself.  You can also 
    <a href="#">View</a>
    shouts to view what others have created.
    <br/>
    <br/>
    <a class="btn btn-primary btn-large" href="#">Learn more ></a>
  </p>
</div>

