<div class="container" style="padding-top: 10px">
  <div class="row">
    <div id="content" class="span12">
      <div>
        <%= render "hero_unit" %>
        <div class="row">
          <div class="span12">
            <%= render "content_header" %>
            <div id="content-box">
              <%= render :partial => 'shouts/shout_list', :collection => @shouts, :as => :shout || 'There are no shouts available.' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
