<div class="container">
  <div class="row">
    <div id="content" class="span12">
      <div>
        <%= render "hero_unit" %>
        <div class="row">
          <div class="span12">
            <%= render "content_header" %>
            <%= render "content" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
