// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  .container {
    width: 1080px;
  }
  padding-top: 40px;
  background-color: #DDDDDD;
  .hero-unit{
    height:190px;
    margin-top:10px;
    padding: 40px;
    width: 1080px;
    #hero-unit-remove-icon:hover{
      background-color: rgba(100,100,100,0.25) 
    }
  }
}

.secondary-nav{
  float:right;
}

#content-header{
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px #AAAAAA;
  .top-bar{
    background-color: #F4F4F4;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px #FFFFFF inset;
    height: 45px;
    overflow: hidden;
    .current{
      padding: 12px 22px 12px 20px;
    }
  }
}

#content-box{
  background-color: #FFFFFF;
  border-radius: 0 0 5px 5px;
  min-height: 760px;
  overflow: hidden;
  padding-top: 20px;
}



