<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/shouttwo">ShoutTwo</a>
      <form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Search">
      </form>
      <ul class="nav">
        <li class="active">
          <a href="#">Recent</a>
        </li>
        <li>
          <a href="#">Popular</a>
        </li>
        <li>
          <a href="#">Liked</a>
        </li>
        <li>
          <a href="/shouttwo/shouts/new">Create Shout</a>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li>
          <% if @current_user %>
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <span style="color: #999999"> Hello <%= @current_user.username || @current_user.email %> </span>
              <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Favorites</a></li>
                <li><a href="#">Shouts</a></li>
                <li><a href="#">Profile</a></li>
              </ul>
            </li>
          <% else %>
            <%= link_to "Login", user_omniauth_authorize_path(:facebook), :class => "btn" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
